extends ./layout
block content
  h1 session login
  form(action="/sessionHome" method="POST")
    div first name: 
      input(type="text" name="firstName")
    p
    div last name: 
      input(type="text" name="lastName")
    p
    button(type="submit") login
  h1